<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <!-- <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" style="color:white;"><span class="glyphicon glyphicon-remove"></span></a>
        <h5>This is some random content that i am testing.</h5>
    </div> -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="background-color:green;height: 350px;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" style="background-color:darkblue; height: 350px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="column" ontouchstart="this.classList.toggle('hover');">
                                    <div id="card_container">
                                        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                                            <div class="inner">
                                                <p>Diligord</p>
                                                <span>Lorem ipsum</span>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div class="inner">
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum
                                                    repellat
                                                    velit quae suscipit c.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="background-color: cyan;height: 350px;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" style="background-color:brown; height: 350px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="column" ontouchstart="this.classList.toggle('hover');">
                                    <div id="card_container">
                                        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                                            <div class="inner">
                                                <p>Diligord</p>
                                                <span>Lorem ipsum</span>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div class="inner">
                                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum
                                                    repellat
                                                    velit quae suscipit c.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>

</html>

<!-- <div class="col-md-4 col-md-offset-1" style="background-color:cyan;">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="column" ontouchstart="this.classList.toggle('hover');">
                <div id="card_container">
                    <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                        <div class="inner">
                            <p>Diligord</p>
                            <span>Lorem ipsum</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum
                                repellat
                                velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->