@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

#brand_Header {
    font-family: 'Spectral SC', serif;
    font-size: 2em;
    color: white;
}

#myNavbar ul li a {
    color: white;
    font-family: 'Spectral SC', serif;
}

button {
    font-family: 'Spectral SC', serif;
}

#navbar_container {
    background-image: url('../images/pexels-photo-1183099.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#c_image {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.carousel-caption {
    margin-bottom: 2%;
}

#search_well {
    background-image: url('../images/pexels-photo-1796698.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px;
}

#form_search {
    background-color: darkslategray;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

input[type=text] {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
}

#submitBtn:hover {
    border: 2px solid darkorchid;
}

input[type=text]:focus {
    border: 1px solid darkorchid;
}