@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

#brand_Header {
    font-family: 'Spectral SC', serif;
    font-size: 2em;
    color: white;
}

#myNavbar ul li a {
    color: white;
    font-family: 'Spectral SC', serif;
}

button {
    font-family: 'Spectral SC', serif;
}